<% include partials/header %>

<div class="heading text-center">
  <h1>Make Your URL Tiny</h1>
</div>

<div class="divform">
<form class="form" action="show" method="post">
  <div class="row">
    <div class="form-group col-md-6 col-sm-offset-3">
      <input type="text" name="url" class="form-control input-lg text-center" id="searchbox" placeholder="Type URL here.">
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-6 col-sm-offset-3">
      <input type="submit" value="Submit" class="btn btn-stroke-black btn-lg btn-block">
    </div>
  </div>

</form>
</div>

  <% include partials/footer %>