<% include partials/header.ejs %>

<div class="showhead text-center">
  <h1>Converted Links:</h1>
</div>

<hr>

<div class="row text-center" id="tinylink">
  <h2 id="short-link"><a href="tinyurl">http://localhost:3000/<%=hash%></a></h2>
</div>






<% include partials/footer.ejs %>